body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

body{
  background-color: lightgrey;
}

headerTitle{
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 2em;
text-align: center;
color:white;
position:absolute;
text-align:center;
background-image:url('../images/blue-sky-with-white-clouds-sky-background.jpg');
background-size: cover;
background-position: center;
width: 96%;
border: orange outset;
}

.searchAreaContainer{
  overflow: hidden;
  position:absolute;
  top:70px;
  padding:5px 5px 5px 5px;
  border: orange solid;
}

input{
  height: 24px;
  /* remove default behaviour */
  outline:none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  /*                          */
}

div#search{
  padding-bottom:5px;
}

input:focus{
  font-style: normal;
  border: purple solid;
}

#searchButton.button-21{
display: inline-block;
outline: 0;
border: 0;
cursor: pointer;
will-change: box-shadow,transform;
background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
padding: 0 32px;
border-radius: 6px;
color: #fff;
height: 26px;
font-size: 18px;
text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
transition: box-shadow 0.15s ease,transform 0.15s ease;
}
#searchButton.button-21:hover{
  transition: color 1.5s;
  color:black;
}

.possibleMatchesClass{
border-top: solid black;
padding: 5px 5px 5px 5px;
}

/* multiple ID wildcard (similar ID name */
div[id^='box']:hover {
  background: lightblue;
}
div[id^='box']{
font-size: 50%;
}
/*                                        */

#dashHeading{
  /* background-color:white; /* --> for a positioning aid*/
  display:flex;
  flex-wrap:wrap;
  justify-content:left;
  width:550px;
  height: 350px;
  position:absolute;
  top: 70px;
  right:20%;
  font-size:26px;
  font-style:bolder;
  color: black;
}

h2{
  font-style:bolder;
  font-size:30px;
}

.dashContainer5Day {
  background-color:pink; /* --> for a positioning aid */
  width: 550px;
  display: flex;
  position:absolute;
  top:30%;
  right:20%;
}

/* weather Icon size adjustment */
img{
width: 25%;
height:25%;
}

.childHeading {
  background-color: rgb(116, 255, 116);
  width: 500px;
  height: 300px;
  border:lightgray solid 6px;
}

.child {
  background-color: rgb(116, 255, 116);
  width: 300px;
  height: 300px;
  border:lightgray solid 6px;
}

/* Mobile screen res adjustments */
@media only screen and (max-width: 1128px) {
  .parent {
    display: flex;
    position:absolute;
    flex-wrap: wrap;
    right:3%; 
    top: 80%;
  }

  .dashContainer5Day {
    width: 550px;
    display: flex;
    flex-wrap:wrap;
    background-color: orange;
    position:absolute;
    top:30%;
  }
}